
 section {
   display: flex;

 }

 .start-info {
   display: flex;
 }

 .info {
   margin-top: 30px;
 }

 a {
   text-decoration: none;
 }

 p {
   margin-left: 30px;
 }


 button {
   margin: 2%;
   width: 10%;
   height: 50px;
 }

 #cercle_n1 {
   background: rgb(0, 0, 0);
   border: 2px solid;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin: 20px;

 }

 hr {
   margin-bottom: 100px;
 }

 #cercle_n2 {
   background: rgb(0, 0, 0);
   border: 2px solid;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin: 20px;

 }

 #cercle_n3 {
   background: rgb(0, 0, 0);
   border: 2px solid;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin: 20px;

 }

 video {
   border: 10px solid black;
   box-shadow: 25px 25px 25px #000000;
   height: 95vh;
   margin-left: 9em;

 }

 /* .gameOver{
  margin: none;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: none;
  font-size: 40px;
 
 } */